![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 10.3 Summary Statistics By Level

First we import numpy and pandas libraries:

In [1]:
import numpy as np
import pandas as pd

Here we creat a dataframe with multi-index:

In [2]:
data = pd.DataFrame(np.random.randint(100, size = (6,4)),
                    index = [['green', 'green', 'black','black','yellow', 'yellow'],
                             ['one', 'two','one','two','one','two']])
data

             0   1   2   3
green  one  68  15   9  28
       two  22  30  56  30
black  one  68   3  74   4
       two  63  31  76   3
yellow one  21  68  44  62
       two  15  81  42  52

Wehen we calculate the mean using the **mean()** function, by default the mean will be calculated for each column:

In [3]:
data.mean()

0    42.833333
1    38.000000
2    50.166667
3    29.833333
dtype: float64

To calculate the statistics for index levels, first we name the index levels, here we name them 'color' and 'number':

In [4]:
data.index.names

FrozenList([None, None])

In [5]:
data.index.names = ['color', 'number']

In [6]:
data.index.names

FrozenList(['color', 'number'])

Now we can calculate statistics for specific index levels, like the mean for colors here:

In [7]:
data.mean(level = 'color')

           0     1     2     3
color
green   45.0  22.5  32.5  29.0
black   65.5  17.0  75.0   3.5
yellow  18.0  74.5  43.0  57.0

We can also calculate the mean for the second index level:

In [8]:
data.mean(level = 'number')

                0          1          2          3
number
one     52.333333  28.666667  42.333333  31.333333
two     33.333333  47.333333  58.000000  28.333333

Other statistics can also be calculated, such as the sum here using the **sum()** function:

In [9]:
data.sum(level = 'color')

          0    1    2    3
color
green    90   45   65   58
black   131   34  150    7
yellow   36  149   86  114

***

<h1 align="center">Thank You</h1> 

***