![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 11.2 Merging Datasets on Index

First we import numpy and pandas

In [1]:
import numpy as np
import pandas as pd

Lets create these two dataframes using th function **pd.DataFrame()**:

In [2]:
frame1 = pd.DataFrame(np.random.randint(100, size = (4,3)), index = ['b', 'c', 'e','f'], 
         columns = ['green', 'red', 'white'])
frame1

   green  red  white
b     24   12     87
c     13   88     25
e     61   95      9
f     48   23      2

In [3]:
frame2 = pd.DataFrame(np.random.randint(100, size = (3,4)), index = ['a', 'b', 'e'],
                      columns = ['blue', 'yellow', 'purple', 'black'])
frame2

   blue  yellow  purple  black
a    11       7      78     12
b    19      79      13     17
e    59      52      98     78

We can merge these two dataframes based on their index using the function **merge()** and the arguments **left_index = True** and **right_index = True**:

In [4]:
pd.merge(frame1, frame2, left_index = True, right_index = True )

   green  red  white  blue  yellow  purple  black
b     24   12     87    19      79      13     17
e     61   95      9    59      52      98     78

To include all rows from both dataframes we add the argument **how = 'outer'**:

In [5]:
pd.merge(frame1, frame2, left_index = True, right_index = True, how = 'outer' )

   green   red  white  blue  yellow  purple  black
a    NaN   NaN    NaN  11.0     7.0    78.0   12.0
b   24.0  12.0   87.0  19.0    79.0    13.0   17.0
c   13.0  88.0   25.0   NaN     NaN     NaN    NaN
e   61.0  95.0    9.0  59.0    52.0    98.0   78.0
f   48.0  23.0    2.0   NaN     NaN     NaN    NaN

***

<h1 align="center">Thank You</h1> 

***