![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 14.1 Date and time Data types

First we import datatime module from datetime library:

In [1]:
from datetime import datetime

We can display the current time by using the function **datetime.now()**:

In [2]:
time_now = datetime.now()
time_now

datetime.datetime(2021, 9, 1, 19, 27, 54, 583236)

We can display only the year in the date variable using the attribute **year**:

In [3]:
time_now.year

2021

We can display only the month in the date variable using the attribute **month**:

In [4]:
time_now.month

9

We can display only the day in the date variable using the attribute **day**:

In [5]:
time_now.day

1

We can display only the hour in the date variable using the attribute **hour**:

In [6]:
time_now.hour

19

Lets create these two date variables:

In [7]:
time1 = datetime(2021, 9, 15)
time2 = datetime(2022, 10, 14)

We can do arithmetic operations with these data variables such as the difference:

In [8]:
time_dif = time2 - time1
time_dif

datetime.timedelta(days=394)

To display the result, we need to use the attribute **day**:

In [9]:
time_dif.days

394

To add a specific period, we use the module **timedelta**:

In [10]:
from datetime import timedelta

For example, we can add 23 days using the function **timedelta** like this:

In [11]:
time1 + timedelta(23)

datetime.datetime(2021, 10, 8, 0, 0)

For example, we can subtract 18 days using the function **timedelta** like this:

In [12]:
time1 - timedelta(18)

datetime.datetime(2021, 8, 28, 0, 0)

***

<h1 align="center">Thank You</h1> 

***