![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 14.2 Converting Between String and Datetime

First we import pandas and datetime libraries:

In [1]:
import pandas as pd

In [2]:
from datetime import datetime

Here we create a string variable with a date value:

In [3]:
time_str = '2021, 09, 12'
time_str

'2021, 09, 12'

To convert this variable into a datetime object, we use the function **datatime.strptime()**:

In [4]:
time1 = datetime.strptime(time_str, '%Y, %m, %d')
time1

datetime.datetime(2021, 9, 12, 0, 0)

Here is another example with different date format:

In [5]:
time_str2 = '2021-08-13'

We can convert this variable using the function **datetime.strptime()** and passing the appropriate format to this function like this:

In [6]:
time2 = datetime.strptime(time_str2, '%Y-%m-%d')
time2

datetime.datetime(2021, 8, 13, 0, 0)

For dealing with datetime columns in dataframe, lets read this dataframe from a csv file using the function **pd.read_csv()**

In [7]:
df = pd.read_csv('data/ex8.csv')
df.head()

        date   google   apple
0  30-Apr-21  2410.12  131.24
1  29-Apr-21  2429.89  133.25
2  28-Apr-21  2379.91  133.35
3  27-Apr-21  2307.12  134.16
4  26-Apr-21  2326.74  134.49

We can display the second column which contains date data like this:

In [8]:
df.date

0    30-Apr-21
1    29-Apr-21
2    28-Apr-21
3    27-Apr-21
4    26-Apr-21
5    23-Apr-21
6    22-Apr-21
7    21-Apr-21
8    20-Apr-21
Name: date, dtype: object

To display the data type of this column we use the attribute **dtype**:

In [9]:
df['date'].dtype

dtype('O')

The convert the 'date' column to datetime we use the pandas function **pd.to_datetime()**:

In [10]:
df['date'] = pd.to_datetime(df['date'])

Lets display again the 'date' column and the head of this data frame like this:

In [11]:
df['date']

0   2021-04-30
1   2021-04-29
2   2021-04-28
3   2021-04-27
4   2021-04-26
5   2021-04-23
6   2021-04-22
7   2021-04-21
8   2021-04-20
Name: date, dtype: datetime64[ns]

In [12]:
df.head()

        date   google   apple
0 2021-04-30  2410.12  131.24
1 2021-04-29  2429.89  133.25
2 2021-04-28  2379.91  133.35
3 2021-04-27  2307.12  134.16
4 2021-04-26  2326.74  134.49

To display the data type of all columns in a dataframe we use the attribute **dtypes**:

In [13]:
df.dtypes

date      datetime64[ns]
google           float64
apple            float64
dtype: object

***

<h1 align="center">Thank You</h1> 

***