![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 14.3 Basics of Time Series

First we import pandas and datetime libraries:

In [1]:
import pandas as pd
from datetime import datetime

Lets read this time series from a csv file using the function **pd.read_csv()**:

In [2]:
df = pd.read_csv('data/ex15.csv')
df.head()

        date   google   apple
0  30-Apr-19  2410.12  131.24
1  29-May-19  2429.89  133.25
2  28-Jun-19  2379.91  133.35
3  27-Jul-19  2307.12  134.16
4  26-Apr-20  2326.74  134.49

To display the data type of all columns in this dataframe we use the attribute **dtypes**:

In [3]:
df.dtypes

date       object
google    float64
apple     float64
dtype: object

We can convert the 'date' column into datetime format using the function **pd.to_datetime()**:

In [4]:
df['date'] = pd.to_datetime(df['date'])

We can check **again** the data types using the attribute **dtypes**:

In [5]:
df.dtypes

date      datetime64[ns]
google           float64
apple            float64
dtype: object

To display the head of this dataframe we use the function **head()**:

In [6]:
df.head()

        date   google   apple
0 2019-04-30  2410.12  131.24
1 2019-05-29  2429.89  133.25
2 2019-06-28  2379.91  133.35
3 2019-07-27  2307.12  134.16
4 2020-04-26  2326.74  134.49

For time series, we set the index to be the date column using the function **set_index()**:

In [7]:
df = df.set_index('date')
df.head()

             google   apple
date
2019-04-30  2410.12  131.24
2019-05-29  2429.89  133.25
2019-06-28  2379.91  133.35
2019-07-27  2307.12  134.16
2020-04-26  2326.74  134.49

We can combine the above steps in one code line, like this:

In [8]:
df = pd.read_csv('data/ex15.csv', parse_dates = ['date'], index_col = 'date')
df.head()

             google   apple
date
2019-04-30  2410.12  131.24
2019-05-29  2429.89  133.25
2019-06-28  2379.91  133.35
2019-07-27  2307.12  134.16
2020-04-26  2326.74  134.49

In time series, we can select data that belong to specific year using the function **loc [ ]**:

In [9]:
df.loc['2021']

             google   apple
date
2021-04-20  2293.63  132.88
2021-05-30  2410.12  131.24
2021-06-29  2429.89  133.25
2021-07-28  2379.91  133.35
2021-04-27  2307.12  134.16

We can also select data that belong to a specif month like this:

In [10]:
df.loc['2021-4']

             google   apple
date
2021-04-20  2293.63  132.88
2021-04-27  2307.12  134.16

We can also select data in a range of dates, like this:

In [11]:
df.loc['2019':'2020']

             google   apple
date
2019-04-30  2410.12  131.24
2019-05-29  2429.89  133.25
2019-06-28  2379.91  133.35
2019-07-27  2307.12  134.16
2020-04-26  2326.74  134.49
2020-05-23  2315.30  134.09
2020-06-24  2267.92  131.72
2020-07-20  2293.29  133.27

To select from the very begining to a specific date, we leave the start befor the colon empty:

In [12]:
df.loc[:'2020']

             google   apple
date
2019-04-30  2410.12  131.24
2019-05-29  2429.89  133.25
2019-06-28  2379.91  133.35
2019-07-27  2307.12  134.16
2020-04-26  2326.74  134.49
2020-05-23  2315.30  134.09
2020-06-24  2267.92  131.72
2020-07-20  2293.29  133.27

To check for duplicate index dates, we use the attribute **is_unique** for the index like this:

In [13]:
df.index.is_unique

True

***

<h1 align="center">Thank You</h1> 

***