![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 14.4 Generating Date Ranges

First we import pandas library:

In [1]:
import pandas as pd

Lets read this time series from a csv file using the function **pd.read_csv()**:

In [2]:
df = pd.read_csv('data/ex16.csv')
df

     google   apple
0   2410.12  131.24
1   2429.89  133.25
2   2379.91  133.35
3   2307.12  134.16
4   2326.74  134.49
5   2315.30  134.09
6   2267.92  131.72
7   2293.29  133.27
8   2293.63  132.88
9   2410.12  131.24
10  2429.89  133.25
11  2379.91  133.35
12  2307.12  134.16
13  2326.74  134.49
14  2315.30  134.09

This time series has no date index, we can generate a date index for any specific period of time using the function **pd.date_range()**:

In [3]:
index = pd.date_range(start = '2020-05-01', end = '2020-05-15')
index

DatetimeIndex(['2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04',
               '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08',
               '2020-05-09', '2020-05-10', '2020-05-11', '2020-05-12',
               '2020-05-13', '2020-05-14', '2020-05-15'],
              dtype='datetime64[ns]', freq='D')

After generating the date index, we cann attch the index to the time series using the function **set_index()**:

In [4]:
TS = df.set_index(index)
TS

             google   apple
2020-05-01  2410.12  131.24
2020-05-02  2429.89  133.25
2020-05-03  2379.91  133.35
2020-05-04  2307.12  134.16
2020-05-05  2326.74  134.49
2020-05-06  2315.30  134.09
2020-05-07  2267.92  131.72
2020-05-08  2293.29  133.27
2020-05-09  2293.63  132.88
2020-05-10  2410.12  131.24
2020-05-11  2429.89  133.25
2020-05-12  2379.91  133.35
2020-05-13  2307.12  134.16
2020-05-14  2326.74  134.49
2020-05-15  2315.30  134.09

We can also generate date index by specifying a start date and the number of periods, like this:

In [5]:
index2 = pd.date_range(start = '2020-05-01', periods = 15)
index2

DatetimeIndex(['2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04',
               '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08',
               '2020-05-09', '2020-05-10', '2020-05-11', '2020-05-12',
               '2020-05-13', '2020-05-14', '2020-05-15'],
              dtype='datetime64[ns]', freq='D')

By default the function **date_range()** generates daily periods, but we can generate any frequency, for example by adding the argument **freq = 'BM'** we can generate frequency as **the last business day of the month**:

In [6]:
index_last = pd.date_range('2020-01-01', '2020-12-31', freq = 'BM')
index_last

DatetimeIndex(['2020-01-31', '2020-02-28', '2020-03-31', '2020-04-30',
               '2020-05-29', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-30', '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='BM')

By adding the argument **freq = 'B'** , we can generate frequency as **the business days**:

In [7]:
index_BD = pd.date_range('2020-01-01', '2020-1-31', freq = 'B')
index_BD

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-20', '2020-01-21', '2020-01-22',
               '2020-01-23', '2020-01-24', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='B')

By adding the argument **freq = '4h'** , we can generate frequency as **four-hour periods**:

In [8]:
index_4h = pd.date_range('2020-01-01', '2020-1-02', freq = '4h')
index_4h

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 04:00:00',
               '2020-01-01 08:00:00', '2020-01-01 12:00:00',
               '2020-01-01 16:00:00', '2020-01-01 20:00:00',
               '2020-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

By adding the argument **freq = '1h30min'** , we can generate frequency as **one hour and a half  periods**:

In [9]:
index_1h30 = pd.date_range('2020-01-01', '2020-1-02', freq = '1h30min')
index_1h30

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:30:00',
               '2020-01-01 03:00:00', '2020-01-01 04:30:00',
               '2020-01-01 06:00:00', '2020-01-01 07:30:00',
               '2020-01-01 09:00:00', '2020-01-01 10:30:00',
               '2020-01-01 12:00:00', '2020-01-01 13:30:00',
               '2020-01-01 15:00:00', '2020-01-01 16:30:00',
               '2020-01-01 18:00:00', '2020-01-01 19:30:00',
               '2020-01-01 21:00:00', '2020-01-01 22:30:00',
               '2020-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='90T')

Another example by adding the argument **freq = 'WOM-3FRI'** , we can generate a frequency with **the third Friday for each month**:

In [10]:
index_3fri = pd.date_range('2021-01-01', '2021-12-31', freq = 'WOM-3FRI')
index_3fri

DatetimeIndex(['2021-01-15', '2021-02-19', '2021-03-19', '2021-04-16',
               '2021-05-21', '2021-06-18', '2021-07-16', '2021-08-20',
               '2021-09-17', '2021-10-15', '2021-11-19', '2021-12-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

***

<h1 align="center">Thank You</h1> 

***