![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 14.7 Resampling and Frequency Conversion

First we import pandas library:

In [1]:
import pandas as pd

Lets read this time series from a csv file using the function **pd.read_csv()**:

In [2]:
df = pd.read_csv('data/apple.csv', index_col = 'Date', parse_dates = True)
df.head()

            Close
Date
2021-01-04  129.4
2021-01-05  131.0
2021-01-06  126.6
2021-01-07  130.9
2021-01-08  132.1

We can resample this time series into the **weekly average prices** using the function **resample('W')**:

In [3]:
df.resample('W').mean()

              Close
Date
2021-01-10  130.000
2021-01-17  128.940
2021-01-24  133.950
2021-01-31  139.460
2021-02-07  135.440
2021-02-14  135.760
2021-02-21  130.900
2021-02-28  123.920
2021-03-07  123.300
2021-03-14  120.100
2021-03-21  122.980
2021-03-28  121.560
2021-04-04  121.625
2021-04-11  128.680
2021-04-18  133.260
2021-04-25  133.520
2021-05-02  133.540
2021-05-09  129.680
2021-05-16  125.620
2021-05-23  125.720
2021-05-30  126.160
2021-06-06  124.700
2021-06-13  126.640
2021-06-20  130.520
2021-06-27  133.300
2021-07-04  136.350

We can resample this time series into a monthly frequency by passing the argument **'M'**:

In [4]:
df.resample('M').mean()

                 Close
Date
2021-01-31  133.042105
2021-02-28  131.536842
2021-03-31  121.878261
2021-04-30  131.809524
2021-05-31  126.795000
2021-06-30  129.963636
2021-07-31  137.300000

For a monthly frequency we can display only the month without the days using the argument **kind = period**:

In [5]:
df.resample('M', kind = 'period').mean()

              Close
Date
2021-01  133.042105
2021-02  131.536842
2021-03  121.878261
2021-04  131.809524
2021-05  126.795000
2021-06  129.963636
2021-07  137.300000

Lets have another example, consider this time series:

In [6]:
sales = pd.read_csv('data/sales.csv', index_col = 'Date', parse_dates = True)
sales.head()

            Sales
Date
2021-06-30    370
2021-06-29    363
2021-06-28    348
2021-06-25    331
2021-06-24    334

We can calculate the total monthly sales using the function **resample()**:

In [7]:
sales.resample('M', kind = 'period').sum()

         Sales
Date
2020-07   1012
2020-08   3633
2020-09   3176
2020-10   3613
2020-11   3366
2020-12   6006
2021-01   6278
2021-02   5992
2021-03   5032
2021-04   6680
2021-05   5359
2021-06   6592

***

<h1 align="center">Thank You</h1> 

***