![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 4.2 Lists

We create a list like this:

In [1]:
names = ['jone', 'sam', 'sally']

To display the list

In [2]:
names

['jone', 'sam', 'sally']

To check its type:

In [3]:
type(names)

list

Lets convert a tuple into a list.
First we create this sinple tuple:

In [4]:
tup1 = (11,22,33)

We use the function list() to convert this tuple into a list:

In [5]:
a_list  = list(tup1)

Lets the type of the converted list:

In [6]:
type(a_list)

list

To check immutability, lets try to change the second element into 99:

In [7]:
a_list[1] = 99

Lets check the list after the change

In [8]:
a_list

[11, 99, 33]

To add a new element at the end of the list we use the function append()

In [9]:
a_list.append(88)
a_list

[11, 99, 33, 88]

To add element at a specific position we use the function insert()

In [10]:
a_list.insert(1,44)
a_list

[11, 44, 99, 33, 88]

To delete an element we use the function pop()

In [11]:
a_list.pop(2)

99

Lets check the a_list again:

In [12]:
a_list

[11, 44, 33, 88]

we can delete an element using the function remove():

In [13]:
a_list.remove(88)

Lets check the a_list again:

In [14]:
a_list

[11, 44, 33]

If an element is repeated, only the first occurance is deleted:

In [15]:
b_list = ['black', 'red', 'green', 'red', 'white']
b_list.remove('red')
b_list

['black', 'green', 'red', 'white']

To check if an element is present in a list we use the keyword (in):

In [16]:
'green' in b_list

True

We can join two lists using the plus sign (+):

In [17]:
list1= [1,2,3]
list2 = [4,5,6]
list3 = list1 + list2
list3

[1, 2, 3, 4, 5, 6]

We cal also join two lists together using the function extend()

In [18]:
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6]

To sort a list we use the function sort()

In [19]:
list1 = ['e','f','a','b']
list1.sort()
list1

['a', 'b', 'e', 'f']

we can convert a string object to a list using the list() function:

In [20]:
list1 = list('abcdefgh')

In [21]:
list1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

We can slice a list using the colon (:), here is a slice fromt the first element to the third element:

In [22]:
list1[0:3]

['a', 'b', 'c']

In [23]:
list1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

We can assign the slice to a new list:

In [24]:
list2= list1[0:3]

In [25]:
list2

['a', 'b', 'c']

In [26]:
list1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

To slice from the first element, we just leave start before the colon empty:

In [27]:
list1[:4]

['a', 'b', 'c', 'd']

To slice to the last element, we just leave end after the colon empty:

In [28]:
list1[3:]

['d', 'e', 'f', 'g', 'h']

We can use the negative index, -3 is the third element from the end.

In [29]:
list1[:-3]

['a', 'b', 'c', 'd', 'e']

In [30]:
list1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

We use the function enumerate() to display the index and the elements of the list using the for loop.

In [31]:
for i, value in enumerate(list1):
    print(i, value)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h

Now we will use the **zip()** function, it returns a pair of elements from two lists. For example: let list1 includes names and list two includes their age.

In [32]:
list1=['sam', 'sally', 'jone']
list2= [44, 29, 31]

Now to extract this information from these two lists, we use the **zip()** function:

In [33]:
zipped = zip(list1,list2)

To display the zipped lists, we need to convert the zipped object into a list:

In [34]:
list(zipped)

[('sam', 44), ('sally', 29), ('jone', 31)]

We can also zip three lists, like this:

In [35]:
list3= [175, 167, 171]

In [36]:
zipped2 = list(zip(list1, list2, list3))

We can display the zipped lists like this:

In [37]:
zipped2

[('sam', 44, 175), ('sally', 29, 167), ('jone', 31, 171)]

***

<h1 align="center">Thank You</h1> 

***