![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 7.1 Series in Pandas

First we import pandas:

In [1]:
import pandas as pd

We can create a pandas series from a list using the function **pd.Series()**:

In [2]:
data1 = pd.Series([12,23,13,44,15])
data1

0    12
1    23
2    13
3    44
4    15
dtype: int64

The data of the series can be displayed using the attribute **.values**:

In [3]:
data1.values

array([12, 23, 13, 44, 15], dtype=int64)

The index of the series can be displayed using the attribute **.index**:

In [4]:
data1.index

RangeIndex(start=0, stop=5, step=1)

We can create the index values ourselves, using the argument **index**:

In [5]:
data2 = pd.Series([12, 23, 13, 44, 15], index= ['a','b','c','d','e'])
data2

a    12
b    23
c    13
d    44
e    15
dtype: int64

In [6]:
data2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

We can display any element in the series by its index value:

In [7]:
data2['a']

12

Multiple index values can be displayed as well:

In [8]:
data2[['b', 'c','d']]

b    23
c    13
d    44
dtype: int64

We can also use boolean indexing to slice the series like this:

In [9]:
data2[data2 > 18]

b    23
d    44
dtype: int64

Arithmetic operation can also be applied to the series:

In [10]:
data2 * 2

a    24
b    46
c    26
d    88
e    30
dtype: int64

A pandas series can be created from a dictionary, like this:

In [11]:
dict = {'Sam': 23, 'Jone':41, 'Jake':26, 'Sally':29}

In [12]:
data3 = pd.Series(dict)
data3

Sam      23
Jone     41
Jake     26
Sally    29
dtype: int64

In [13]:
data3.index

Index(['Sam', 'Jone', 'Jake', 'Sally'], dtype='object')

In [14]:
data3.values

array([23, 41, 26, 29], dtype=int64)

We can check if a certain index is present by using the keyword ( **in** ):

In [15]:
'Jake' in data3

True

We can assign a label for the index using the attribute **.name**:

In [16]:
data3.index.name = 'Names'
data3

Names
Sam      23
Jone     41
Jake     26
Sally    29
dtype: int64

In [17]:
data3.index = ['a','b','c','d']
data3

a    23
b    41
c    26
d    29
dtype: int64

***

<h1 align="center">Thank You</h1> 

***