![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 7.10 Correlation and Covariance

First we import pandas library:

In [1]:
import pandas as pd

Here we read a dataframe from a csv file using the function **pd.read_csv()**:

In [2]:
advert = pd.read_csv('data/advertising.csv')

We can display the head of the dataframe using the function **head()**:

In [3]:
advert.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

To calculate the correlation coefficient between two variables, we use the function **corr()**:

In [4]:
advert['TV'].corr(advert['Sales'])

0.7822244248616064

The previous code can be also written like this:

In [5]:
advert.TV.corr(advert.Sales)

0.7822244248616064

Here we calculate the correlation coefficient between TV and Radio variables:

In [6]:
advert.TV.corr(advert.Radio)

0.05480866446583011

We can calculate the correlation matrix for all variables like this:

In [7]:
advert.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.782224
Radio      0.054809  1.000000   0.354104  0.576223
Newspaper  0.056648  0.354104   1.000000  0.228299
Sales      0.782224  0.576223   0.228299  1.000000

To calculate the covariance between two variables, we use the function **cov()**:

In [8]:
advert['TV'].cov(advert['Newspaper'])

105.91945226130649

The previous code can be also written like this:

In [9]:
advert.TV.cov(advert.Newspaper)

105.91945226130649

We can calculate the covariance matrix for all variables like this:

In [10]:
advert.cov()

                    TV       Radio   Newspaper       Sales
TV         7370.949893   69.862492  105.919452  350.390195
Radio        69.862492  220.427743  114.496979   44.635688
Newspaper   105.919452  114.496979  474.308326   25.941392
Sales       350.390195   44.635688   25.941392   27.221853

***

<h1 align="center">Thank You</h1> 

***