![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 7.3 index Objects

First we import pandas:

In [1]:
import pandas as pd

Here we create a series using the **Series()** function with assigned index to be a list of letters:

In [2]:
labels = list('abdcde')
series1 = pd.Series([32,45,23,37,65,55], index = labels)
series1

a    32
b    45
d    23
c    37
d    65
e    55
dtype: int64

We can display the index using the attribute **.index**:

In [3]:
series1.index

Index(['a', 'b', 'd', 'c', 'd', 'e'], dtype='object')

The index object is immutable, if we try to assign a new value to the index, we get an **error**:

In [4]:
series1.index[0]

'a'

Here if we try to assign the letter 'f' for the first index value, **we get an error**:

In [5]:
series1.index[0] = 'f'

TypeError: Index does not support mutable operations

Consider this datafram:

In [6]:
dict = {'name': ['bob', 'jake', 'sam', 'jone', 'sally'],
        'age': [23,34,41,29,19], 'income': [72,65,49,39,81]}
dt1= pd.DataFrame(dict)
dt1

    name  age  income
0    bob   23      72
1   jake   34      65
2    sam   41      49
3   jone   29      39
4  sally   19      81

We can set its index to be the column with the label 'name' using the funtion **set_index()**:

In [7]:
dt1.set_index('name', inplace = True)
dt1

       age  income
name
bob     23      72
jake    34      65
sam     41      49
jone    29      39
sally   19      81

Index object is fixed in length. If we add a new column with fewer data pandas will fill the rest elements with missing values:

In [8]:
dt1['degree'] = pd.Series(['Yes', 'No', 'No'], index = ['jake', 'sam', 'sally'])
dt1

       age  income degree
name
bob     23      72    NaN
jake    34      65    Yes
sam     41      49     No
jone    29      39    NaN
sally   19      81     No

We can display the new column 'degree':

In [9]:
dt1.degree

name
bob      NaN
jake     Yes
sam       No
jone     NaN
sally     No
Name: degree, dtype: object

Index object allows duplicate entries, consider this dataframe:

In [10]:
dict = {'name': ['bob', 'jake', 'bob', 'jone', 'sally'],
        'age': [23,34,41,29,19], 'income': [72,65,49,39,81]}
dt2= pd.DataFrame(dict)
dt2.set_index('name', inplace = True)
dt2

       age  income
name
bob     23      72
jake    34      65
bob     41      49
jone    29      39
sally   19      81

When we try to display the index with the duplicate labels, all labels are displayed:

In [11]:
dt2.loc['bob']

      age  income
name
bob    23      72
bob    41      49

***

<h1 align="center">Thank You</h1> 

***