![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 7.4 Reindexing

First we import pandas:

In [1]:
import pandas as pd

Here we create a simple series using the function **pd.Series()**:

In [2]:
series1 = pd.Series([23,45,28,37], index = ['b','c','a','e'])
series1

b    23
c    45
a    28
e    37
dtype: int64

We can change the index of this series using the function **reindex()**, any index without a values, will be filled with NaN:

In [3]:
series2 = series1.reindex(['a','b','c','d','e','f'])
series2

a    28.0
b    23.0
c    45.0
d     NaN
e    37.0
f     NaN
dtype: float64

Consider this series:

In [4]:
series3= pd.Series(['red','green', 'yellow'], index = [0,2,4])
series3

0       red
2     green
4    yellow
dtype: object

We can change the way pandas fill the missing values using the argument **method**:

In [5]:
series3.reindex(range(6), method='ffill')

0       red
1       red
2     green
3     green
4    yellow
5    yellow
dtype: object

In pandas we can reindex the rows as well as the columns, for example consider this dataframe:

In [6]:
dict = {'red': [33,22,55], 'green': [66,33,11], 'white':[66,44,22]}
dt1 = pd.DataFrame(dict, index = ['a', 'c','d'])
dt1

   red  green  white
a   33     66     66
c   22     33     44
d   55     11     22

We can reindex the row index like this:

In [7]:
dt1.reindex(['a','b','c','d'])

    red  green  white
a  33.0   66.0   66.0
b   NaN    NaN    NaN
c  22.0   33.0   44.0
d  55.0   11.0   22.0

We can reindex the columns labels like this:

In [8]:
dt1.reindex(columns = ['red', 'white','brown','green'])

   red  white  brown  green
a   33     66    NaN     66
c   22     44    NaN     33
d   55     22    NaN     11

***

<h1 align="center">Thank You</h1> 

***