![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 7.5 Deleting Rows and Columns

First we import numpy and pandas libraries:

In [1]:
import pandas as pd
import numpy as np

here we create a series with using pandas function **pd.Series()**:

In [2]:
series1 = pd.Series([11,22,33,44,55,66,77,88], index = list('abcdefgh'))
series1

a    11
b    22
c    33
d    44
e    55
f    66
g    77
h    88
dtype: int64

To delete a single entry in series, we use the function **drop()** with the index of that entry:

In [3]:
series1.drop('e')

a    11
b    22
c    33
d    44
f    66
g    77
h    88
dtype: int64

To delete multiple entries, we enclose them in square brackets [ ] as a list:

In [4]:
series1.drop(['b','g'])

a    11
c    33
d    44
e    55
f    66
h    88
dtype: int64

Notice that the original series in not changes:

In [5]:
series1

a    11
b    22
c    33
d    44
e    55
f    66
g    77
h    88
dtype: int64

Lets now create a dataframe using the function **pd.DataFrame()**:

In [6]:
dt1 = pd.DataFrame(np.arange(24).reshape((6,4)),
                   index = list('abcdef'),
                  columns= ['red', 'green', 'white', 'black'])
dt1

   red  green  white  black
a    0      1      2      3
b    4      5      6      7
c    8      9     10     11
d   12     13     14     15
e   16     17     18     19
f   20     21     22     23

To delete specific rows, we use the same function which is **drop()**

In [7]:
dt1.drop(['b','e'])

   red  green  white  black
a    0      1      2      3
c    8      9     10     11
d   12     13     14     15
f   20     21     22     23

To delete columns, we add the argument **axis = 1**:

In [8]:
dt1.drop('green', axis = 1)

   red  white  black
a    0      2      3
b    4      6      7
c    8     10     11
d   12     14     15
e   16     18     19
f   20     22     23

Notice here also that the original dataframe is not changed

In [9]:
dt1

   red  green  white  black
a    0      1      2      3
b    4      5      6      7
c    8      9     10     11
d   12     13     14     15
e   16     17     18     19
f   20     21     22     23

To make the deletion reflected in the original dataframe we use the argument  **inplace = True**

In [10]:
dt1.drop('red', axis = 1, inplace =True)

Lets display the dataframe again after the deletion

In [11]:
dt1

   green  white  black
a      1      2      3
b      5      6      7
c      9     10     11
d     13     14     15
e     17     18     19
f     21     22     23

***

<h1 align="center">Thank You</h1> 

***