![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 7.6 Indexing, Slicing and Filtering

First we import numpy and pandas:

In [1]:
import numpy as np
import pandas as pd

Lets create a series using the function **pd.Series()**:

In [2]:
series1  = pd.Series(np.arange(6), index= list('abcdef'))
series1

a    0
b    1
c    2
d    3
e    4
f    5
dtype: int32

We can select a single entry like this:

In [3]:
series1['c']

2

Multiple entries can be selected also by enclosing them in square brackets as a list:

In [4]:
series1[['c', 'd','e']]

c    2
d    3
e    4
dtype: int32

A range of entries can be also selected:

In [5]:
series1['c': 'e']

c    2
d    3
e    4
dtype: int32

We can select entries by digits, here [ 0 ] means the first entry:

In [6]:
series1[0]

0

We can also select a range of values using the digits:

In [7]:
series1[2:5]

c    2
d    3
e    4
dtype: int32

Boolean indexing can be used to select a subset of entries based on boolean condition, like this example:

In [8]:
series1[series1 >3]

e    4
f    5
dtype: int32

Lets now create a dataframe using the function **pd.DataFrame()**

In [9]:
dt1 = pd.DataFrame(np.arange(24).reshape((6,4)),
                   index = list('abcdef'),
                  columns= ['red', 'green', 'white', 'black'])
dt1

   red  green  white  black
a    0      1      2      3
b    4      5      6      7
c    8      9     10     11
d   12     13     14     15
e   16     17     18     19
f   20     21     22     23

To select and display a single column, we use this:

In [10]:
dt1['green']

a     1
b     5
c     9
d    13
e    17
f    21
Name: green, dtype: int32

To select multiple columns, we enclose them in square brackets as a list:

In [11]:
dt1[['red', 'green']]

   red  green
a    0      1
b    4      5
c    8      9
d   12     13
e   16     17
f   20     21

To select rows, we use the function **loc[ ]**, here we select a singl row with the index labeled 'a':

In [12]:
dt1.loc['a']

red      0
green    1
white    2
black    3
Name: a, dtype: int32

To make the selection looks like a dataframe, we use double brackets:

In [13]:
dt1.loc[['a']]

   red  green  white  black
a    0      1      2      3

A range of rows can be aslo selected using **a colon**:

In [14]:
dt1.loc['b':'e']

   red  green  white  black
b    4      5      6      7
c    8      9     10     11
d   12     13     14     15
e   16     17     18     19

We can select a subset of rows and columns together like this:

In [15]:
dt1.loc[['c', 'd'], ['green', 'white']]

   green  white
c      9     10
d     13     14

We can aslo select a range of rows and columns together:

In [16]:
dt1.loc['c': 'e', 'green':'black']

   green  white  black
c      9     10     11
d     13     14     15
e     17     18     19

To select rows based on digits, we use the function **iloc[ ]**, here we use only digits not labels:

In [17]:
dt1.iloc[2:5]

   red  green  white  black
c    8      9     10     11
d   12     13     14     15
e   16     17     18     19

A range of rows and columns can be also selected using the **iloc[ ]** function:

In [18]:
dt1.iloc[2:5, 2:4]

   white  black
c     10     11
d     14     15
e     18     19

Boolean indexing in dataframe can be used like this:

In [19]:
dt1[dt1['red'] > 10]

   red  green  white  black
d   12     13     14     15
e   16     17     18     19
f   20     21     22     23

We cam also combine normal indexing and boolean indexing together, like this example:

In [20]:
dt1.iloc[:, 2:4][dt1['black']>12]

   white  black
d     14     15
e     18     19
f     22     23

***

<h1 align="center">Thank You</h1> 

***