![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 8.3 Writing Data in Text Format

First we import numpy and pandas library:

In [1]:
import numpy as np
import pandas as pd

Lets read a dataframe from a csv file using the function **pd.read_csv()**:

In [2]:
pop = pd.read_csv('data/population.csv', index_col = 'Country')
pop.head()

               Population     Area World_Share
Country
China          1440297825  9388211      18.47%
India          1382345085  2973190      17.70%
United States   331341050  9147420       4.25%
Indonesia       274021604  1811570       3.51%
Pakistan        221612785   770880       2.83%

Lets change this dataframe by adding a new column called **Density**:

In [3]:
pop['Density'] = pop['Population'] /pop['Area']

In [4]:
pop.head()

               Population     Area World_Share     Density
Country
China          1440297825  9388211      18.47%  153.415579
India          1382345085  2973190      17.70%  464.936679
United States   331341050  9147420       4.25%   36.222350
Indonesia       274021604  1811570       3.51%  151.261946
Pakistan        221612785   770880       2.83%  287.480263

We can save this dataframe in a csv file using the function **to_csv()**:

In [5]:
pop.to_csv('data/Population2.csv')

Here we read the file that we have just saved:

In [6]:
pop2 = pd.read_csv('data/population2.csv', index_col = 'Country')
pop2.head()

               Population     Area World_Share     Density
Country
China          1440297825  9388211      18.47%  153.415579
India          1382345085  2973190      17.70%  464.936679
United States   331341050  9147420       4.25%   36.222350
Indonesia       274021604  1811570       3.51%  151.261946
Pakistan        221612785   770880       2.83%  287.480263

To check for the saved file, we can explore the directory (data) using the function **listdir()**:

In [7]:
from os import listdir

In [8]:
listdir('data')

['Advertising.csv',
 'AirPassenger.csv',
 'apple.csv',
 'auto1.csv',
 'auto2.csv',
 'auto3.csv',
 'boston.csv',
 'credit.csv',
 'credit.xlsx',
 'ex1.csv',
 'ex10.csv',
 'ex11.csv',
 'ex12.csv',
 'ex13.csv',
 'ex14.csv',
 'ex15.csv',
 'ex16.csv',
 'ex17.csv',
 'ex18.csv',
 'ex2.csv',
 'ex3.csv',
 'ex4.csv',
 'ex5.csv',
 'ex6.csv',
 'ex7.csv',
 'ex8.csv',
 'ex9.csv',
 'example1.xlsx',
 'firstfigure.png',
 'firstfigure.svg',
 'firstfigure1.svg',
 'firstfigure3.svg',
 'housing.csv',
 'housing3.csv',
 'New Microsoft Excel Worksheet.xlsx',
 'population.csv',
 'Population2.csv',
 'sales.csv',
 'series1.csv',
 'temperature.csv',
 'wage.csv']

We can also save pandas series as well, lets now create this series:

In [9]:
series1 = pd.Series(np.arange(10), index = list('abcdefghij'))
series1

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32

We can save the series using the function **to_csv()**:

In [10]:
series1.to_csv('data/series1.csv')

Lets now list the file in the directory data using the function **listdir()**:

In [11]:
listdir('data')

['Advertising.csv',
 'AirPassenger.csv',
 'apple.csv',
 'auto1.csv',
 'auto2.csv',
 'auto3.csv',
 'boston.csv',
 'credit.csv',
 'credit.xlsx',
 'ex1.csv',
 'ex10.csv',
 'ex11.csv',
 'ex12.csv',
 'ex13.csv',
 'ex14.csv',
 'ex15.csv',
 'ex16.csv',
 'ex17.csv',
 'ex18.csv',
 'ex2.csv',
 'ex3.csv',
 'ex4.csv',
 'ex5.csv',
 'ex6.csv',
 'ex7.csv',
 'ex8.csv',
 'ex9.csv',
 'example1.xlsx',
 'firstfigure.png',
 'firstfigure.svg',
 'firstfigure1.svg',
 'firstfigure3.svg',
 'housing.csv',
 'housing3.csv',
 'New Microsoft Excel Worksheet.xlsx',
 'population.csv',
 'Population2.csv',
 'sales.csv',
 'series1.csv',
 'temperature.csv',
 'wage.csv']

***

<h1 align="center">Thank You</h1> 

***