![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 8.4 Reading Microsoft Excel Files

First we import pandas library:

In [1]:
import pandas as pd

We can read a dataframe from Ms excel file using the function **pd.read_excel()**:

In [2]:
credit = pd.read_excel('data/credit.xlsx')

Lets display the head of this dataframe using the function **head()**:

In [3]:
credit.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,19.225,1433,122,3,38,14,Female,No,No,Caucasian,0
1,43.540,2906,232,4,69,11,Male,No,No,Caucasian,0
2,152.298,12066,828,4,41,12,Female,No,Yes,Asian,1779
3,55.367,6340,448,1,33,15,Male,No,Yes,Caucasian,815
4,11.741,2271,182,4,59,12,Female,No,No,Asian,0

We can extract specific columns form a dataframe into a new dataframe like this:

In [4]:
data = pd.DataFrame(credit, columns= (['Income', 'Limit']))
data.head()

    Income  Limit
0   19.225   1433
1   43.540   2906
2  152.298  12066
3   55.367   6340
4   11.741   2271

We can save this dataframe into an excel file named (example1.xlsx) using the function **to_excel()**:

In [5]:
data.to_excel('data/example1.xlsx')

We can list all files in the directory (data) using the function **listdir()**:

In [6]:
from os import listdir

In [7]:
listdir('data')

['Advertising.csv',
 'AirPassenger.csv',
 'apple.csv',
 'auto1.csv',
 'auto2.csv',
 'auto3.csv',
 'boston.csv',
 'credit.csv',
 'credit.xlsx',
 'ex1.csv',
 'ex10.csv',
 'ex11.csv',
 'ex12.csv',
 'ex13.csv',
 'ex14.csv',
 'ex15.csv',
 'ex16.csv',
 'ex17.csv',
 'ex18.csv',
 'ex2.csv',
 'ex3.csv',
 'ex4.csv',
 'ex5.csv',
 'ex6.csv',
 'ex7.csv',
 'ex8.csv',
 'ex9.csv',
 'example1.xlsx',
 'firstfigure.png',
 'firstfigure.svg',
 'firstfigure1.svg',
 'firstfigure3.svg',
 'housing.csv',
 'housing3.csv',
 'New Microsoft Excel Worksheet.xlsx',
 'population.csv',
 'Population2.csv',
 'sales.csv',
 'series1.csv',
 'temperature.csv',
 'wage.csv']

***

<h1 align="center">Thank You</h1> 

***