![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 9.10 String Object Methods

First we import pandas library:

In [1]:
import pandas as np

As an example lets create this string object:

In [2]:
text1 = 'jone, sam, jake'

We can split this text into words by using the comma as a separator, using the function **split()**:

In [3]:
text1.split(',')

['jone', ' sam', ' jake']

We can delete the white space when splitting a text using the function **stirp()**, to strip each word, we used here a loop comprehension:

In [4]:
words = [x.strip() for x in text1.split(',')]
words

['jone', 'sam', 'jake']

For another example, we create here another text:

In [5]:
text2 = 'Sam will go to the school today'

We can split this text into words by using the **space** as a separator, using the function **split()**:

In [6]:
text2.split(' ')

['Sam', 'will', 'go', 'to', 'the', 'school', 'today']

We can also join text objects to create a special phrase.

In [7]:
text3 = ['sam', 'yahoo.com']

In [8]:
'@'.join(text3)

'sam@yahoo.com'

We can search for a string in a text using the keyword **in**:

In [9]:
'school' in text2

True

We can locate the index of a substring in a text, using th function **index()**:

In [10]:
text2.index('school')

19

Similarly the function **find** can be used as well to locate a substring:

In [11]:
text2.find('school')

19

If you use the function **find()** to locate a substring that does not exist, it will return -1:

In [12]:
text2.find('jone')

-1

Another method is **count()**, which returns the number of occurrences of a particular substring:

In [13]:
text2.count('to')

2

The function **replace()** can be used in text processing to replace one pattern with another: here is an example:

In [14]:
text3 = 'sam:jake:jone'

In [15]:
text3.replace(':', ', ')

'sam, jake, jone'

***

<h1 align="center">Thank You</h1> 

***