![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 9.5 Replacing Values

First we import numpy and pandas libraries:

In [1]:
import numpy as np
import pandas as pd

Here we create a series that contains one strange value (99) using the function **pd.Series()**:

In [2]:
temp = pd.Series([23, 37, 999, 32, 32, 28, 999, 19, 24])
temp

0     23
1     37
2    999
3     32
4     32
5     28
6    999
7     19
8     24
dtype: int64

We can replace the strange values with missing values using the function **replace()**:

In [3]:
temp.replace(999, np.nan, inplace=True)
temp

0    23.0
1    37.0
2     NaN
3    32.0
4    32.0
5    28.0
6     NaN
7    19.0
8    24.0
dtype: float64

Here we create another series with multiple strange values:

In [4]:
temp = pd.Series([23,37,999,32,32,28,1000,19,20,-999,24])
temp

0       23
1       37
2      999
3       32
4       32
5       28
6     1000
7       19
8       20
9     -999
10      24
dtype: int64

Using the function **replace()** we can also replace strange values with different values:

In [5]:
temp.replace([999, -999, 1000], np.nan, inplace = True)
temp

0     23.0
1     37.0
2      NaN
3     32.0
4     32.0
5     28.0
6      NaN
7     19.0
8     20.0
9      NaN
10    24.0
dtype: float64

We can also used a dictionary inside the **replace()** function to replace different values:

In [6]:
gender = pd.DataFrame(['male','femal','male','male','female','mal', 'female'],
                      index = list('abcdefg'), columns = ['gender'] )
gender

   gender
a    male
b   femal
c    male
d    male
e  female
f     mal
g  female

In [7]:
gender.replace({'mal': 'male', 'femal':'female'})

   gender
a    male
b  female
c    male
d    male
e  female
f    male
g  female

***

<h1 align="center">Thank You</h1> 

***