![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

## 9.6 Renaming columns and index labels

First we import numpy and pandas libraries:

In [1]:
import numpy as np
import pandas as pd

Here we creat a simple dataframe using the function **pd.DataFrame()**:

In [2]:
data = pd.DataFrame(np.arange(12).reshape((4, 3)),
 index=['green', 'red', 'black', 'white'],
 columns=['one', 'two', 'three'])
data

       one  two  three
green    0    1      2
red      3    4      5
black    6    7      8
white    9   10     11

We can rename any index value using the function **rename()**, here green is replaced by yellow:

In [3]:
data.rename(index = {'green':'yellow'}, inplace =True)
data

        one  two  three
yellow    0    1      2
red       3    4      5
black     6    7      8
white     9   10     11

We can aslo replace columns labeles using the same function but adding the argument **columns**, here we replace the column ('three') to be ('four'):

In [4]:
data.rename(columns = {'three':'four'}, inplace =True)
data

        one  two  four
yellow    0    1     2
red       3    4     5
black     6    7     8
white     9   10    11

We can aslo change the format of the labels, for example here we change the index labels to have capital letters using the function **str.upper()**

In [5]:
data.index = data.index.str.upper()
data

        one  two  four
YELLOW    0    1     2
RED       3    4     5
BLACK     6    7     8
WHITE     9   10    11

Similarly, we can change the format of columns labels to a title format using **str.title()**

In [6]:
data.columns= data.columns.str.title()
data

        One  Two  Four
YELLOW    0    1     2
RED       3    4     5
BLACK     6    7     8
WHITE     9   10    11

***

<h1 align="center">Thank You</h1> 

***