![title](img/cover4.png)

<center><em>Copyright! This material is protected, please do not copy or distribute.    by:Taher Assaf</em></center>

***
<h1 align="center">Udemy course : Python Bootcamp for Data Science 2021 Numpy Pandas & Seaborn</h1> 

***

### The Exercise for  Module 8

#### Instruction:  Please write your code after the phrase " ## Your codes begin here:"

#### Q1. Read a csv file from the path: ('data/credit.csv')  into a pandas dataframe named 'credit'? Then display its head?

**Hint**: You will need the functions **pd.read_csv()** and **head()**

In [1]:
import pandas as pd

## Your codes begin here:

#### Q2. Set the index for the dataframe 'credit' to the column with the label ('Income'), and make the change permanent? Then display the head of the dataframe?


**Hint1:** you will need the function **set_index()**.

**Hint2:** To make the changes permanent, use the argument  **inplace = True**.

In [2]:
## Your codes begin here:

#### Q3. Read an excel file with the path: ('data/credit.xlsx') into a pandas dataframe named ('df1')? Then display its head?

**Hint:** You will need the functions **pd.read_excel()** and **head()**

In [3]:
## Your codes begin here:

#### Q4. Save the dataframe ('customers') that will be created in the first code cell below as a csv file to your local disk with the name ('mydata.csv)?

**Hint1:** Do not forget to run the first code cell below to create the 'customers' dataframe first.


**Hint2:** you will need the function **to_csv()**.

In [4]:
## Just run this cell to create the customers dataframe

dictionary1 = {'name': ['Bob', 'Sam','William','Jon', 'Bill', 'Maria', 'Jenny', 'Jack'],
        'age': [23, 19, 29, 32, 43, 23, 18, 26], 'income': [55, 65, 44, 98, 59, 87, 81, 78]}

customers = pd.DataFrame(dictionary1)

In [5]:
## Your codes begin here:

***
# Solutions
***

#### Q1. Read a csv file from the path: ('data/credit.csv')  into a pandas dataframe named 'credit'? Then display its head?

In [6]:
import pandas as pd

## Your codes begin here:

credit = pd.read_csv('data/credit.csv')
credit.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,19.225,1433,122,3,38,14,Female,No,No,Caucasian,0
1,43.540,2906,232,4,69,11,Male,No,No,Caucasian,0
2,55.367,6340,448,1,33,15,Male,No,Yes,Caucasian,815
3,11.741,2271,182,4,59,12,Female,No,No,Asian,0
4,15.560,4307,352,4,57,8,Male,No,Yes,African American,579

#### Q2. Set the index for the dataframe 'credit' to the column with the label ('Income'), and make the change permanent? Then display the head of the dataframe?

In [7]:
## Your codes begin here:

credit.set_index('Income', inplace = True)
credit.head()

,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
Income,,,,,,,,,,
19.225,1433,122,3,38,14,Female,No,No,Caucasian,0
43.540,2906,232,4,69,11,Male,No,No,Caucasian,0
55.367,6340,448,1,33,15,Male,No,Yes,Caucasian,815
11.741,2271,182,4,59,12,Female,No,No,Asian,0
15.560,4307,352,4,57,8,Male,No,Yes,African American,579

#### Q3. Read an excel file with the path: ('data/credit.xlsx') into a pandas dataframe named ('df1')? Then display its head?

In [8]:
## Your codes begin here:

df1 = pd.read_excel('data/credit.xlsx')
df1.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,19.225,1433,122,3,38,14,Female,No,No,Caucasian,0
1,43.540,2906,232,4,69,11,Male,No,No,Caucasian,0
2,152.298,12066,828,4,41,12,Female,No,Yes,Asian,1779
3,55.367,6340,448,1,33,15,Male,No,Yes,Caucasian,815
4,11.741,2271,182,4,59,12,Female,No,No,Asian,0

#### Q4. Save the dataframe ('customers') that will be created in the first code cell below as a csv file to your local disk with the name ('mydata.csv)?

In [9]:
## Just run this cell to create the customers dataframe

dictionary1 = {'name': ['Bob', 'Sam','William','Jon', 'Bill', 'Maria', 'Jenny', 'Jack'],
        'age': [23, 19, 29, 32, 43, 23, 18, 26], 'income': [55, 65, 44, 98, 59, 87, 81, 78]}

customers = pd.DataFrame(dictionary1)

In [10]:
## Your codes begin here:

customers.to_csv('data/mydata.csv')

***

<h1 align="center">Thank You</h1> 

***